/**-----------------PRIMEROS ELEMENTOS-------------------**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    background-color: var(--color--5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --color--1: #FEF2F2;
    --color--2: #F26440;
    --color--3: #286F6C;
    --color--4: #ADADAD;
    --color--5: #FFFFFF;
    --color--6: #f9f5f2;
    --font--: font-family: 'Open Sans', sans-serif;
}

header{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color--1);

}

nav.header-nav{
    display: flex;
    box-sizing: border-box;
    height: auto;
    justify-content: end;
    background-color: var(--color--1);
    

}

input#menu-desplegable{
    visibility: hidden;

}


label{
    background-color: var(--color--1);

}

img.btn-menu{
    width: 30px;
    height: auto;
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color--1);

}

ul.nav-bar{
    display: none;
    height: auto;
    list-style: none;
    position: absolute;
    width: 100%;
    flex-flow: row wrap;
    min-height: calc(100vh - 50px);
    justify-content: center;
    flex-direction: column;
    align-content: space-evenly;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50px;
    gap: 2rem;
    background-color: var(--color--1);
    z-index: 2;

}

li.indice-navbar{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin: 1.5rem;
    background-color: var(--color--1);
    font-family: 'Open Sans', sans-serif;
    color: var(--color--4);
    font-size: 20px;
    z-index: 2;


}
#menu-desplegable:checked ~ ul.nav-bar{
    display: flex;
}

li.indice-navbar:hover{
    color: var(--color--3);
    cursor: pointer;
    font-weight: 600;
    box-shadow: 5px 5px 20px rgb(235, 233, 233);
}


/*-------------------------------------------------------*/

.header-section1{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section1-article1{
    display: flex;
    height: auto;
    align-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-flow: column;
    background-color: var(--color--1);
    

}

.article1-objeto1{
    background-color: var(--color--1);
}

.article1-p1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color--1);
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 1rem;

}



.article1-logos{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color--1);
    margin-left: 15%;
    margin-right: 15%;

}

.article1-logos-padwhite{
    width: auto;
    height: auto;
    padding: 2px;
    border-radius: 100%;
}

.article1-logos-padorange{
    display: inline-block;
    background-color: var(--color--2);
    padding: 14px;
    border-radius: 100%;
}

#linkedin, #instagram, #twitter{
    height: auto;
    width: 30px;
    background-color: var(--color--2);
    box-sizing: border-box;
    
}

.circuloypersona{
    display: inline-block;
    background-color: var(--color--1);
    width: auto;
    height: 331px;
    margin: 0;
    padding: 0;
}

.article1-circuloverde{
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: var(--color--3);
    align-content: center;
    position: relative;
    left: 4.8rem;
    z-index: 1;

}

img.article1-persona{
    position: relative;
    width: 50%;
    height: auto;
    bottom: 12rem;
    left: 6.5rem;
    background-color: transparent;
    z-index: 1;

}

.article3-objeto3>p{
    background-color: transparent;
}

@media screen and ( min-width: 600px ){

    .section1-article1{
        flex-flow: row;
        gap: 0;
    }
    .article1-objeto1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 70%;
        margin-left: 60Px;
        margin-bottom: 130px;
    }

    ul.nav-bar{
        display: flex;
        height: auto;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: var(--color--1);
        align-content: end;
        justify-content: end;
        flex-flow: row;
        min-height: auto;
        position: initial;
        top: 0;
        gap: 2rem;
        
    }

    img.btn-menu{
        display: none;
    }

    nav.header-nav{
        display: inline-block;
        
    }

    li.indice-navbar{
        font-size: 18px;
        padding: .5rem;
        margin: .5rem;
    }

    li.indice-navbar.end{
        margin-right: 5rem;
    }
    
    .circuloypersona{
        height: auto;
        max-height: 740px;
        position: relative;
        right: 2rem;
        
    }
    
    nav.header-nav{
        display: inline-block;
        width: 100%;
    }

    .article1-p1{
        font-size: 80px;
        text-align: left;
        width: 50%;
    }

    .article1-logos {
        justify-content: start;
        gap: 6rem;
        margin-left: 0;
        margin-right: 0;
       
    }

    .article1-circuloverde{
        display: inline-block;
        width: 600px;
        height: 600px;
        right: 13rem;
        top: 1rem;
       
    
    }
    
    img.article1-persona{
        display: inline-block;
        width: 60%;
        bottom: 38rem;
        left: 5rem;
        margin: 100px;


    
    }

    li.indice-navbar{
        width: auto;
    }

    .article3-objeto3>p{
        background-color: transparent;
    }
}

/*--------------------------------------------------------*/

main{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-section2{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.section2-article2{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.article2-texto1{
    display: inline-block;
    width: auto;
    height: auto;
    padding: .5rem;
    margin: .5rem;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color--3);
    font-weight: 600;
    margin-top: 60px;

}

.article2-texto2{
    display: inline-block;
    width: auto;
    height: auto;
    padding: .5rem;
    margin: .5rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color--4);
    font-weight: 600;
    margin-top: 0;
}

@media screen and ( min-width: 600px ){

    .section2-article2 {
        margin: 0rem 15%;
    }

    .article2-texto1 {
        font-size: 40px;  
    }

    .article2-texto2{
        font-size: 18px;
    }

    
    

}



/*--------------------------------------------------------*/


.main-section3{
    width: auto;
    height: 450px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section3-article3{
    display: inline-block;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: 1.5rem .5rem;
}

.article3-objeto1y2{
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 300px;
    margin: 0;
    padding: 0;

}

.article3-objeto3{
    position: relative;
    display: inline-block;
    background-color: transparent;
    font-size: 32px;
    font-weight: 600;
    color: var(--color--5);
    font-family: 'Open Sans', sans-serif;
    bottom: 25rem;
    left: 2.5rem;

}

.article3-objeto4{
    display: flex;
    position: relative;
    bottom: 24rem;
    left: 2rem;
    gap: 1rem;
    background-color: transparent;
    height:fit-content;
    overflow: scroll;
    width: 300px;

}

.objeto4-elemento1>h3, .objeto4-elemento2>h3, .objeto4-elemento3>h3, .objeto4-elemento4>h3{
    font-size: 16px;
    width: 170px;
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
    background-color: var(--color--1);
    font-weight: 600;
    text-align: center;

}

.objeto4-elemento1>p, .objeto4-elemento2>p, .objeto4-elemento3>p, .objeto4-elemento4>p{
    font-size: 16px;
    width: 170px;
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
    color: var(--color--4);
    background-color: var(--color--1);

}

.article3-circuloverde{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: var(--color--3);
    border-radius: 100%;

}

.article3-circulonaranja{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: var(--color--2);
    border-radius: 100%;
    position: relative;
    bottom: 19rem;

}

.article3-objeto4>div{
    background-color: var(--color--1);
}

@media screen and ( min-width: 600px ){
    .section3-article3 {
        display: inline-block;
        height: 450px;
    }
    
    .article3-objeto1y2 {
        max-height: 600px;
       
    }
    
    .article3-circuloverde {
        width: 600px;
        height: 600px;
    }

    .article3-circulonaranja {
        width: 250px;
        height: 250px;
        bottom: 19rem;
        right: 38rem;
    }

    .article3-objeto3 {
        font-size: 40px;
        top: 8rem;
        left: -37.5rem;
        top: -27rem;
        display: inline-block;
    }

    .main-section3{
        height: auto;
    }

    .article3-objeto4 {
        bottom: 26rem;
        left: 0;
        gap: 2rem;
        overflow: hidden;
        width: auto;
        justify-content: center;
        margin: 0px 18% 0px 18%;
        padding: 0;
    }

    .objeto4-elemento1>h3, .objeto4-elemento2>h3, .objeto4-elemento3>h3, .objeto4-elemento4>h3{
        width: auto;
    }

    .objeto4-elemento1>p, .objeto4-elemento2>p, .objeto4-elemento3>p, .objeto4-elemento4>p{
        width: auto;
    }

}



/*-------------------------------------------------------*/

.main-section4{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.section4-article4{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article4-titulo{       
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color--3);
    font-weight: 600;
    margin: 1rem;

}

.article4-objeto1{
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
}

.objeto1-empresas{
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    margin: 1rem;
    align-items: center;

}

img#amazon, #airbnb, #google{
    width: 28%;

}

.empresas-puestos{
    width: 38%;


}

.empresas-puestos>h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    


}

.empresas-puestos>h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color--4);

}

.empresas-puestos>h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color--4);
}

.objeto1-empresas>p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 28%;
    align-content: center;
   

}

@media screen and ( min-width: 600px ){
    .article4-objeto1 {
        display: flex;
        margin: 0.5rem 10%;
        flex-direction: row;
        gap: 2.2rem;
        justify-content: space-evenly;
    }

    .section4-article4{
        width: 100%;

    }

    .objeto1-empresas{
        gap: 3rem;
    }

    .article4-titulo {
        font-size: 40px;
        margin-left: 20%;
    }
}

/*-------------------------------------------------------*/

    .main-section5{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .section5-article5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 8rem 0 2rem 0;
        gap: 1rem;
        background-color: var(--color--3);
        padding: 1rem;
        height: 650px;
    }

    .article5-imagen1{
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 1rem;
        position: relative;
        bottom: 4rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px 2px var(--color--6);
        margin: 0 0.5rem;
    }

    .article5-texto1y2{
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: transparent;
        position: relative;
        bottom: 2rem;
    }

    .article5-imagen2{
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 1rem;
        position: relative;
        top: 0rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px 2px var(--color--6);
        margin: 0 0.5rem;

    }

    .article5-texto1y2>h1{
        font-size: 32px;
        padding: .5rem;
        color: var(--color--5);
        background-color: transparent;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;

    }

    .article5-texto1y2>p{
        font-size: 16px;
        padding: .5rem;
        color: var(--color--5);
        background-color: transparent;
        font-family: 'Open Sans', sans-serif;

    }

    .article5-imagen1>p{
        font-size: 20px;
        padding: .5rem;
        background-color: var(--color--5);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .article5-imagen2>p{
        font-size: 20px;
        padding: .5rem;
        background-color: var(--color--5);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    @media screen and ( min-width: 600px ){
        .section5-article5{
            grid-template-columns: 2fr 1fr 2fr;
        }

        .article5-imagen1{
            grid-column-start: 1;
            grid-column-end: 2;
            margin: 0 1rem;
            
        }

        .article5-texto1y2 {
            grid-column-start: 2;
            grid-column-end: 4;
            bottom: 0;
            margin: 4rem 4rem;
        }
        
        .article5-imagen2 {
            grid-column-start: 3;
            grid-column-end: 4;
            top: -1rem;
            margin: 0 1rem;
            
        }

        .article5-texto1y2>h1{
            font-size: 40px;
        }

        .article5-texto1y2>p{
            font-size: 20px;
        }
    }

/*--------------------------------------------------------*/

.footer{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 250px;
    padding: 0;
    box-sizing: border-box;
}

.footer-h1{
    font-size: 32px;
    color: var(--color--3);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: auto;
    height: auto;
    margin: 1rem;
    margin-left: 2rem;


}

.footer-article1{
    display: flex;
    justify-content: space-evenly;
    

}

.footer-h2{
    font-size: 20px;
    color: var(--color--2);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: auto;
    height: auto;
    margin: 0 10% 0 10%;

}

.article1-objeto1foo{

}

.article1-objeto2foo{
    
}

.footer-logo{
    background-color: transparent;
    justify-content: center;
    display: flex;

}

.footer-logo-padwhite{
    padding: 5px;
    display: inline-block;
    background-color: var(--color--5);
    border-radius: 100%;
    width: auto;
    height: auto;

}

.footer-logo-padorange{
    padding: 20px;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: var(--color--2);
    border-radius: 100%;

}

#phone, #mail{
    background-color: var(--color--2);

}

.footer-article1-h2{
    font-size: 20px;
    padding: .5rem;
    color: var(--color--3);
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.footer-article1-p{
    font-size: 16px;
    padding: .5rem;
    color: var(--color--4);
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}